# Copy this file to secrets.yaml (gitignored)
# Used for environment-specific sensitive values

# For MicroK8s with NFS storage
shared:
  storage:
    plexMedia:
      nfs:
        server: "192.168.1.142"
        path: "/mnt/universe7-pool/media"
