apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Reference the base configuration
resources:
  - ../../base

# Patches to change storageClassName from microk8s-hostpath to standard
patches:
  # PersistentVolumes
  - target:
      kind: PersistentVolume
      name: plex-media-pv
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
      - op: remove
        path: /spec/hostPath
      - op: add
        path: /spec/hostPath
        value:
          path: /tmp/hostpath-provisioner/plex-media
          type: DirectoryOrCreate
  
  - target:
      kind: PersistentVolume
      name: plex-config-pv
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
      - op: replace
        path: /spec/hostPath/path
        value: /tmp/hostpath-provisioner/plex-config
  
  # PersistentVolumeClaims
  - target:
      kind: PersistentVolumeClaim
      name: plex-config
      namespace: media
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
  
  - target:
      kind: PersistentVolumeClaim
      name: plex-media
      namespace: media
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
  
  - target:
      kind: PersistentVolumeClaim
      name: plex-transcode
      namespace: media
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
  
  - target:
      kind: PersistentVolumeClaim
      name: tautulli-config
      namespace: media
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
  
  - target:
      kind: PersistentVolumeClaim
      name: overseerr-config
      namespace: media
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: standard
